<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="search-card">
      <mat-card-title class="pantry-list-title">Pantry</mat-card-title>
      <mat-card-content fxLayout="column" >
        <br>
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <label>View type: </label>
          <mat-radio-group aria-label="View type" [(ngModel)]="viewType" data-test="viewTypeRadio">
            <mat-radio-button value="card">Card</mat-radio-button>
            <mat-radio-button value="list">List</mat-radio-button>
          </mat-radio-group>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredPantry; else pantryError" >
    <!-- Switch between card and list view based on the viewType variable, set above in the mar-radio-group -->
    <div [ngSwitch]="viewType">

      <!-- Card grid view -->
      <div *ngSwitchCase="'card'" fxLayout="row wrap" fxLayoutGap="10px" class="pantry-cards-container">
        <app-pantry-card [simple]="true" *ngFor="let pantry of this.filteredPantry" class="pantry-card" [pantry]="pantry" fxFlex="1 1 280px"></app-pantry-card>
      </div>

      <!-- List view -->
      <mat-card *ngSwitchCase="'list'">
        <mat-card-content>
          <mat-nav-list class="pantry-nav-list">
            <h3 mat-subheader>Pantry</h3>
            <a mat-list-item *ngFor="let pantry of this.filteredPantry" [routerLink]="['/pantry', pantry._id]" class="pantry-list-item">
              <h3 matLine class="pantry-list-name"> {{pantry.productId}} </h3>
            </a>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

  <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
  <ng-template #pantryError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="pantry-error">
      <mat-error>
        There was a problem loading the pantry. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  </ng-template>

</div>

<button mat-fab class="add-pantry-fab" matTooltip="Add Pantry" matTooltipPosition="left" routerLink="/pantry/new" data-test="addPantryButton">
    <mat-icon class="md-24" aria-label="Add Pantry">add</mat-icon>
</button>
